.ad-container {
	max-width: 1024px;
	max-height: 600px;
}

.sponsor-ad {
	max-width: 255px;
	max-height: 600px;
	float: left;
}

.main-ad {
	max-width: 1024px;
	max-height: 600px;
	float: left;
}

.main-ad-image {
	width: 769px;
}