.kiosk {
	width: 1024px;
	height: 600px;
	background-position:center;
	background-size:cover;
}

.sponsor-ad {
	width: 255px;
	height: 600px;
	float: left;
	background-position:center;
	background-size:cover;
	background-image: url(MnT_122722_1106.gif);
}

.carousel {
	width: 769px;
	height: 600px;
	float: left;
	background-position: center;
	background-size: cover;
	background-image: url(DAT5Off.jpg);
}

.fade {
	-webkit-animation: 5s fade;
	animation: 5s fade;
}

@-webkit-keyframes fade {
	from{opacity: 0.4}
	to{opacity: 1}
}

@keyframes fade {
	from{opacity: 0.4}
	to{opacity: 1}
}
